  <table>
 <thead>
    <tr>
      <% header.forEach(col => { %>
        <th><%= col %></th>
      <% }) %>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% products.forEach(product => { %>
      <tr>
        <% header.forEach(col => { %>
          <td><%= product[col] %></td>
        <% }) %>
        <td>
          <a href="/<%= basePath %>/<%= product[idField] %>/edit">Edit</a>
        </td>
        <td>
            <form action="/products/<%= product.article_id %>/delete" method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
              </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<a href="/<%= basePath %>/add">Add a row</a>
